<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.achieverassistant">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_achiever"
        android:label="@string/app_name"
        android:name=".AchieverApplication"
        android:roundIcon="@mipmap/ic_achiever"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".settings.Settings" />
        <activity android:name=".quotes.ADDEDITQuote" />
        <activity android:name=".quotes.Quotes" />
        <activity android:name=".moments.ADDEDITMoment" />
        <activity android:name=".moments.Moments"
            tools:ignore="Instantiatable" />
        <activity android:name=".achieverGoal.AddEditGoal" />
        <activity android:name=".dailyPlan.ADDEDITDailyTasks" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.camera_pictures.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".dailyPlan.receivers.AlarmReceiver"
            android:enabled="true"
            />
        <receiver android:name=".dailyPlan.receivers.ActionReceiver"
            android:enabled="true"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>




</manifest>